// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";

@import "compass/css3/inline-block";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";

@import "partials/pygments";

header.page,
nav.site {
  @include inline-block;
}

header.page a {
  font-weight: bolder;
  border: none;

  h1 {
    padding: .25em 0;
    font-size: 2.6154em;
    color: #555;
  }
}

footer.page {
  text-align: center;
}

nav.site {
  display: block;
  @include float-right;

  a {
    @include inline-block;
    border: none;
    background-color: #555;
    color: #f8f8f8;
    font-size: 1.6154em;
    text-transform: lowercase;
    padding: .25em 1em;
    margin-bottom: .25em;
  }
}

section.vcard {
  font-size: 4.2308em;
}

article {
  margin: 2.6154em 0;
  clear: both;
  font-size: 1em;

  header {
    margin-bottom: 2.6154em;
  }

  h1 {
    font-size: 4.2308em;
    margin-right: .25em;
    margin-bottom: .25em;
  }

  .meta {
    vertical-align: text-bottom;
    font-size: 1.6154em;
    line-height: .619em;
    color: #555;
  }

}

.listings {
  list-style: none;
  margin: 0;
  padding: 0;

  .listing {
    margin-bottom: .5em;

    td, th {
      vertical-align: text-bottom;
    }

    td {
      text-align: right;
    }

    th {
      text-align: left;
    }

    a {
      font-size: 1.6154em;
      border: none;
      font-weight: normal;
    }

    time {
      font-style: italic;
    }
  }
}

#post-content {
    font-size: 1.25em;
}

code {
   color: #333;
}
