CherryPy==3.2.5
Django==1.4
GitPython==0.3.2.RC1
Markdown==2.1.1
PyRSS2Gen==1.0.0
PyYAML==3.10
Pygments==1.5
argparse==1.2.1
async==0.6.1
cssmin==0.2.0
django-gitrevision==0.1.4
gitdb==0.5.4
https://github.com/joshbohde/hyde/tarball/master
hyde-zipper==0.0.3
jsmin==2.0.2
pycrypto==2.6
smmap==0.8.2
wsgiref==0.1.2
