{% extends "skeleton/_root.html" %}
{% block all %}
<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{% block title %}{{site.name}}{% endblock %}</title>
	{% block feeds %}
	<link href="{{site.url}}/blog/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>
	{% endblock %}
	
  {% block css %}
  <link href="{{site.url}}/media/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{{site.url}}/media/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="{{site.url}}/media/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
	{% block extra_css %}
  {% endblock %}
  {% endblock %}

  {% block js %}
  <script src="http://cachedcommons.org/cache/modernizr/1.5.0/javascripts/modernizr-min.js"></script>
  <script src="{{site.url}}/media/js/boomerang.js"></script>
  <script> 
    BOOMR.addVar('revision', '{{ REVISION }}');
    BOOMR.init({
      beacon_url: "http://joshbohde.com:3000/tracking.gif",
      site_domain: "{{site.url}}", 
      BW: { enabled: false  }
      });
  </script>
	{% block extra_js %}
  {% endblock %}
  {% endblock %}

</head>
<body>
  {% include "skeleton/_header.html" %}
	{% block content %}{% endblock %}
  {% block footer %}
  {% include "skeleton/_footer.html" %}
  {% endblock %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script src="http://cachedcommons.org/cache/jquery-timeago/0.9.0/javascripts/jquery-timeago-min.js"></script>
  <script> 
    $(function(){
       $('time').timeago();
    });
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9518092-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
{% endblock %}
