{% extends "skeleton/_root.html" %}
{% block all %}
<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{% block title %}{{site.name}}{% endblock %}</title>
	{% block feeds %}
	<link href="{{site.url}}/blog/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>
	{% endblock %}
	
  {% block css %}
  <link href="{{site.url}}/media/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{{site.url}}/media/css/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="{{site.url}}/media/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
	{% block extra_css %}
  {% endblock %}
  {% endblock %}

  {% block js %}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.4/modernizr.min.js"></script>
	{% block extra_js %}
  {% endblock %}
  {% endblock %}

</head>
<body>
  {% include "skeleton/_header.html" %}
	{% block content %}{% endblock %}
  {% block footer %}
  {% include "skeleton/_footer.html" %}
  {% endblock %}
  <script>
    {% if not PRODUCTION %}
    var disqus_developer = 1;
    {% endif %}
    {% include "skeleton/_footer.js" %}
  </script>
  {% block end_body %}
  {% endblock %}
</body>
</html>
{% endblock %}
