{% extends "skeleton/_root.html" %}
{% block all %}
<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{% block title %}{{site.name}}{% endblock %}</title>
	{% block feeds %}
	<link href="{{site.url}}/blog/atom.xml" rel="alternate" title="{{site.name}}" type="application/atom+xml"/>
	{% endblock %}
	
  {% block css %}
	<link rel="stylesheet" href="{{site.url}}/media/css/base.css" type="text/css" media="screen" charset="utf-8">
	{% block extra_css %}
  {% endblock %}
  {% endblock %}

  {% block js %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script src="http://cachedcommons.org/cache/modernizr/1.5.0/javascripts/modernizr-min.js"></script>
	{% block extra_js %}
  {% endblock %}
  {% endblock %}

</head>
<body>
  {% include "skeleton/_header.html" %}
	{% block content %}{% endblock %}
  {% include "skeleton/_footer.html" %}
</body>
</html>
{% endblock %}
