{% extends "skeleton/_base.html" %}
{% block title %}{{page.title}} : {{page.module.name}} : {{site.name}}{% endblock %}
{% block content %}
{% block sitenav %}
<nav class="site">
  {% for module in site.children %}
  <a  class="{% ifequal page.module module %}selected {% endifequal %} {{ module.name }}" href="{{module.listing_url}}">
    {{module.name|unslugify}}
  </a>
  {% endfor %}
  <a class="feed" href="/blog/atom.xml">Feed</a>
  <a class="email" href="mailto:rowan.bohde@gmail.com">Email</a>
  <a class="publickey" href="/id_rsa.pub">Key</a>
</nav>
{% endblock %}
{% block content_body %}{% endblock %}
{% endblock %}
