{% extends "skeleton/_base.html" %}
{% block title %}{{page.title}} : {{page.module.name}} : {{site.name}}{% endblock %}
{% block content %}
{% block sitenav %}
<nav class="site">
  {% for module in site.children %}
  <a  class="{% ifequal page.module module %}selected {% endifequal %} {{ module.name }}" href="{{module.listing_url}}">
    {{module.name|unslugify}}
  </a>
  {% endfor %}
  <a class="feed" href="http://feeds.feedburner.com/joshbohde">Feed</a>
  <a class="email" href="mailto:josh@joshbohde.com">Email</a>
  <a class="twitter" href="http://twitter.com/#!joshbohde">Twitter</a>
  <a class="git" href="http://git.joshbohde.com/">Git</a>
  <a class="publickey" href="/id_rsa.pub">Key</a>
</nav>
{% endblock %}
{% block content_body %}{% endblock %}
{% endblock %}
