{% extends "_post.html" %}
{% load webdesign %}
{% load aym %}
{% load verbatim %}

{% hyde
    title: Looking for Work
    created: 2016-02-10 14:16:30
%}

{% block article %}

{% article %}
{% markdown %}

I'm available for work as a software developer, preferably remote, or
in Austin.

I'm looking for a team that:

   * Is inclusive & collaborative
   * Encourages mentorship
   * Values quality engineering

I've worked on projects from initial prototypes to production
implementations, as both an individual contributor and project lead. I
have experience writing production Haskell, Python, Javascript
and Go, though I'm primarily looking to use Haskell.

Some things I like to work on include:

   * Scalable & resilient systems
   * Fast & reliable automated deployment
   * Testing of concurrent code
   * HTTP APIs

Some recent work in Haskell I've done is [hdr-histogram][2]. More
specific work history is availabe in my [resume][1].

 [1]: http://joshbohde.com/resume.pdf
 [2]: https://github.com/joshbohde/hdr-histogram


{% endmarkdown %}
{% endarticle %}

{% endblock %}
