{% extends "_post.html" %}
{% load webdesign %}
{% load aym %}

{%hyde
    title: Self Hosting Git
    created: 2014-03-22 11:59:35
%}


{% block article %}

{% article %}
{% markdown %}

For awhile I've been pretty unhappy with hosting my code at
Github. They have enourmous cultural capital, but use it
irresponsibly, as evidenced by "harcore forking action", the
[meritocracy rug][2], and drinkups. The recent news about their
[sexist culture and treatement of Julie Ann Horvath][1] made me look
into alternative hosting options.

I looked into a few prepackaged options, such as [GitLab][3] or [Gitorious][4],
but settled on a combination of [gitolite][5], [gitweb][6], and [git-daemon][7].

Throughout all the following examples, I'll be using
`git.rowan.computer` as my server, but you should change that to your
own server.


Gitolite
--------

Install gitolite was straight forward, I just followed the
[instructions from their docs][8].

Configuring gitolite took awhile, I ended up setting up [wild
repos][9]. This let me create new repos by just setting the origin,
and pushing.

After this is setup, you can run commands to interact with your
repositories through ssh, e.g. `ssh git@git.rowan.computer help` will
show all the commands.

One thing that I spent a bit of time on was figuring out how to delete
a repo. For this I had to uncomment the "D" command in `gitolite.rc`
in the git users home directory. From there `ssh <your_git_host> D -h`
will show how to delete a repo.

Gitweb
------

I installed gitweb directly from apt. From there I added the following config options:

    $projectroot = "/home/git/repositories";
    $projects_list = "/home/git/projects.list";
    $strict_export = "true";
    $export_ok = "git-daemon-export-ok";
    @git_base_url_list = ('git://git.rowan.computer');
    $feature{'highlight'}{'default'} = [1];

This will display any repo in gitweb that the gilolite user `gitweb` can read. You can add these permissions
via `ssh <your_git_host> perms <repo_name> + READERS gitweb`

There is a more [advanced config for authorizing users][12], but I only care about public repos being shown.

Gitweb uses cgi, so you'll need a web server to actually serve it. I
use nginx, [with this config][14].


For the theme, I accidently stumbled upon [gitweb-theme][10], and ran
the [install process][11]

Git-Daemon
----------

Installing from apt didn't work, so I wrote an upstart script based
upon the [docs][7].

Like gitweb, you can make a repo publicly cloneable by allowing the
`daemon` user to read, e.g: `ssh <your_git_host> perms <repo_name> + READERS daemon`


Migrating
---------

I manually migrated a handful of private repos, and used a script for
all my public stuff.

I wrote a quick python script to parse Github's API output

{% syntax python %}
import json
import sys
import pipes

for repo in json.loads(''.join(sys.stdin)):
    print pipes.quote(repo['name']),
    print pipes.quote(repo['git_url']),
    print pipes.quote(repo['description'] or '')
{% endsyntax %}

And used it to generate a list of all my repos.

    curl "https://api.github.com/users/bohde/repos?type=owner" | python convert.py >> repos

I had two pages of repos, so I had to do it again with the url
`"https://api.github.com/users/bohde/repos?type=owner&page=2"`.

I used the following script to clone a repo:

{% syntax bash %}
set -e
git clone --bare https://github.com/bohde/$1.git
cd $1.git
git push --mirror ssh://git@git.rowan.computer/rowan/$1.git
cd ..
{% endsyntax %}

To clone them all, I ran `cd /tmp; cat repos | xargs -L 1 bash clone.sh`

To setup descriptions, and public access, I wrote the following script:

{% syntax bash %}
ssh <your_git_host> desc rowan/$1 "$3"
ssh <your_git_host> perms rowan/$1 + READERS daemon
ssh <your_git_host> perms rowan/$1 + READERS gitweb
{% endsyntax %}

To run this over them all, I ran `cat repos | xargs -L 1 bash access.sh`

Thoughts
--------

I'm still looking for a good way to setup issues and pull requests, but
I get so few of those that it isn't a high priority.


For backups, [Pete Keen has written how to mirror to s3][13].


An immediate benefit I've noticed is that I'm no longer constrained by the low number of private repos, so I'm more likely
to put something I don't want to be public in git now. I also was less affected by the recent Github outage.


The total size of my repos was around 60 MB. This would be an awesome use for a spare
Raspberry Pi.



 [1]: http://techcrunch.com/2014/03/15/julie-ann-horvath-describes-sexism-and-intimidation-behind-her-github-exit/ "Julie Ann Horvath Describes Sexism And Intimidation Behind Her GitHub Exit"
 [2]: https://adainitiative.org/2014/01/guest-post-whats-wrong-with-meritocracy-in-open-source-software/ "Guest post: What's wrong with "meritocracy" in open source software?"
 [3]: https://www.gitlab.com/ "GitLab.com | Open Source Git Management Software"
 [4]: https://gitorious.org/ "Gitorious"
 [5]: http://gitolite.com/gitolite/ "Gitolite"
 [6]: https://www.kernel.org/pub/software/scm/git/docs/gitweb.html "gitweb (1)"
 [7]: http://git-scm.com/book/en/Git-on-the-Server-Git-Daemon "Git - Git Daemon"
 [8]: http://gitolite.com/gitolite/install.html "Gitolite"
 [9]: http://gitolite.com/gitolite/wild.html "Gitolite"
 [10]: http://kogakure.github.io/gitweb-theme/ "kogakure/gitweb-theme @ GitHub"
 [11]: https://github.com/kogakure/gitweb-theme#installation "kogakure/gitweb-theme"
 [12]: http://gitolite.com/gitolite/external.html#repo-specific-authorisation-in-gitweb "Gitolite"
 [13]: https://www.petekeen.net/hosting-private-git-repositories-with-gitolite "Private Git Repositories with Gitolite and S3"
 [14]: https://misterpinchy.wordpress.com/2012/11/01/gitweb-and-nginx/ "Gitweb and Nginx | misterpinchy"
{% endmarkdown %}
{% endarticle %}

{% endblock %}
