{% extends "skeleton/_body.html" %}
{% block content_header %}{% endblock %}
{% block content_body %}
<section class="vcard">
  Hi, I'm
  <a class="fn n" href="http://joshbohde.com">
    <span class="given-name">Josh</span>
    <span class="family-name">Bohde</span></a>, 
 a software developer living in 
 <span class="adr">
  <span class="locality">Kansas City</span>, <span class="region">MO</span>.
 </span>
 You can reach me via email at
 <a class="email" href="mailto:josh.bohde@gmail.com">josh.bohde@gmail.com</a>
 or on Twitter as
 <a class="twitter" href="http://twitter.com/#!joshbohde">@joshbohde</a>.
</section>
{% endblock %}
