{% extends "skeleton/_body.html" %}
{% block title %}{{site.name}}{% endblock %}
{% block content_body %}
<section class="vcard h-card">
  Hi, I'm
  <a class="fn n p-name u-url" href="http://rowan.computer">
    <span class="given-name p-given-name">Rowan</span>
    <span class="family-name p-family-name">Bohde</span></a>,
 a software developer living in
 <span class="adr p-adr">
  <span class="locality p-locality">Minneapolis</span>, <span class="region p-region">MN</span>.
 </span>
 You can reach me via
 <a class="email u-email" rel="me" href="mailto:rowan.bohde@gmail.com">email</a>.
</section>
{% endblock %}

{% block footer %}
{% endblock %}
