{% extends "skeleton/_body.html" %}
{% block content_body %}
<section id="post-content">
{% filter typogrify %}
{% markdown %}

{% block article %}

{% endblock %}

{% endmarkdown %}
{% endfilter %}
</section>
{% endblock %}

{% block content_header %}
<header>
  <h1>{{ page.title }}</h1>
  <time class="published" datetime="{{ page.created|date:'Y-m-d\TH:i:s' }}Z">
    {{ page.created|date:"d M Y"}}
  </time>
</header>
{% endblock %}

{% block footer %}
  {% include "skeleton/_footer.html" %}
{% endblock %}
