{% extends "skeleton/_body.html" %}
{% block content_body %}
<section id="post-content">
{% filter typogrify %}
{% markdown %}

{% block article %}
    
{% endblock %}
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=joshbohde">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
{% endmarkdown %}
{% endfilter %}
</section>
{% endblock %}

{% block content_header %}
<header>
  <h1>{{ page.title }}</h1>
  <time class="published" datetime="{{ page.created|date:'Y-m-d\TH:i:s' }}Z">
    {{ page.created|date:"d M Y"}}
  </time>
</header>
{% endblock %}
