// Import the non-default scaffolding module to help us get started.
@import "blueprint/scaffolding";

html {
  color: #333;
  background-color: #f8f8f8;
}

body {
  @include blueprint-typography(true);
  margin: auto;
  max-width: 66em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 12px;
}

body h1 {
  color: #333;
}

body a {
  text-decoration: none;
  border-bottom: 1px dotted; 
  color: #333;
  
  &:visited {
    color: #555;
  } 

  &:hover {
    background-color: #FFFCD9;
    border-bottom: 1px solid #FFFCD9;
  } 
}

body article,
body section,
body header {
  display: block;
}